<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.ecommerce.mapper.InventoryDeductionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imooc.ecommerce.entity.InventoryDeductionRecord">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="goods_id" property="goodsId" />
        <result column="number" property="number" />
        <result column="create_time" property="createTime" />
    </resultMap>
</mapper>
