<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.ecommerce.mapper.OrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mooc.meetingfilm.backend.common.source.entity.OrderGoods">
        <id column="id" property="id" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted_at" property="deletedAt" />
        <result column="is_deleted" property="isDeleted" />
        <result column="order" property="order" />
        <result column="goods" property="goods" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_image" property="goodsImage" />
        <result column="goods_price" property="goodsPrice" />
        <result column="nums" property="nums" />
    </resultMap>
</mapper>
